<form [formGroup]="LoginForm">
    <div class="container">
      <h1>Login</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email">
      <div *ngFor="let error of errorMessages.email" class="error">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">{{error.message}}</small>
          </ng-container>
      </div>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" formControlName="password">
      <div *ngFor="let error of errorMessages.password" class="error">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{error.message}}</small>
          </ng-container>
      </div>
  
      <button type="submit" class="registerbtn" [value]="LoginForm" appAuthenticate>Login</button>
    </div>
  
    <div class="container signin">
      <p>New User? <a routerLink="/registration">Register</a>.</p>
    </div>
  </form>